@font-face {
  font-family: "lexend";
  src: url("fonts/static/Lexend-Bold.ttf") format("ttf");
  font-weight: 700;
}

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
    background-color: rgb(23, 36, 61);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
}

.links-navbar a {
    text-decoration: none;
    margin-right: 40px;
    font-size: 30px;
    font-family: "lexend";
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.title {
  display: flex;
  justify-content: center;
}

/* artists */

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.product-card {
    width: 340px;
    height: 480px;
    border-radius: 24px;
    background-color: rgb(23, 36, 61);
    padding: 16px;
    transition: all 0.3s ease-in-out;
}

.product-card:hover {
    background-color: rgb(35, 60, 119);
}

.product-card-image {
    width: 336px;
    height: 336px;
    border-radius: 24px;
}

.product-card_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.product-card_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}




