.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.navbar {
    background-color: rgb(23, 36, 61);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.links-navbar a {
    text-decoration: none;
    margin-right: 40px;
    font-size: 30px;
    font-family: "Titan One", sans-serif;
}
