<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistes</title>
</head>
<body>

        <nav>
        <a href="/">Accueil</a>
        <a href="/artists">Les artistes</a>
        <a href="/locations">Locations</a>
        <a href="/dates">Dates</a>
        <a href="/relation">Relation</a>
    </nav>

    {{range .}}
        <div>
            <h2>{{.Name}}</h2>
            <p>ID : {{.ID}}</p>
            <p>Création : {{.CreationDate}}</p>
            <p>Premier album : {{.FirstAlbum}}</p>

            <p>Membres :</p>
            <ul>
                {{range .Members}}
                    <li>{{.}}</li>
                {{end}}
            </ul>

            <img src="{{.Image}}" alt="{{.Name}}">
            
        </div>
        <hr>
    {{end}}

</body>
</html>