<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="links-navbar">
            <a href="/">Accueil</a>
            <a href="/artists">Les artistes</a>
            <a href="/locations">Locations</a>
            <a href="/dates">Dates</a>
            <a href="/relation">Relation</a>
        </div>
    </nav>

    <div class="title">
        <h1>Bienvenue sur la page d'accueil</h1>
    </div>
    <div class="title">
        <h2>Retrouvez le détail de tous vos artistes préférés !</h2>
    </div>

</body>
</html>