<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="links-navbar">
            <a href="/">ACCUEIL</a>
            <a href="/artists">LES ARTISTES</a>
            <a href="/locations">LOCATIONS</a>
            <a href="/dates">DATES</a>
            <a href="/relation">RELATION</a>
        </div>
    </nav>

    <h1>Bienvenu sur la page d'accueil</h1>
    <h2>Retrouvez le détail de tous vos artistes préférés !</h2>
    
</body>
</html>