<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relation</title>
</head>
<body>
        <nav>
        <a href="/">Accueil</a>
        <a href="/artists">Les artistes</a>
        <a href="/locations">Locations</a>
        <a href="/dates">Dates</a>
        <a href="/relation">Relation</a>
    </nav>

<ul>
    {{range .Index}}
        <li>
            <h3>Artiste ID : {{.ID}}</h3>
            <ul>
                {{range $city, $dates := .DatesLocations}}
                    <li>
                        {{$city}} :
                        {{range $dates}}
                            {{.}}
                        {{end}}
                    </li>
                {{end}}
            </ul>
        </li>
    {{end}}
</ul>

</body>
</html>